bin/*
obj/*

!bin/.gitkeep
!obj/.gitkeep

*.o
*.obj

*.exe
*.dll
*.so
*.dylib
*.out
*.app

.clangd

*.txt
*.fool

.vscode/
.idea/
cmake-build-*/
.cache/

*.swp
*~
*.swo

.DS_Store
Thumbs.db
ehthumbs.db

*.log
